@import url();
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    transform: 0.5s;
}
header #toggle{
    cursor: pointer;
    position: relative;
    width: 4    0px;
    height: 40px;
    font-size: 2em;}

#closeicon{
    display: none;
    cursor: pointer;
    position: relative;
    width: 4    0px;
    height: 40px;
    font-size: 2em;
}
#closeicon::before{
    content: 'close';
    position: absolute;
    right: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2px 5px;
    background: #fff;
    color: #111;
    font-size: 25px;
    text-align: center;
 

}


header #toggle::before{
    content: 'Menu';
    position: absolute;
    right: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2px 5px;
    background: #fff;
    color: #111;
    font-size: 25px;
    text-align: center;
 
}
.vid{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: 1;
    box-shadow: 10px 0 15px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.content{
    z-index: 10;
    color: white;
    font-size: 3em;
    text-align: center;
    transition: 0.4s;
    transition-delay: 0.5;
    position: relative;

}
.content.active{
    transform: translateX(-200%);
    opacity: 0;
    visibility: hidden;
}
.content h2{
    position: absolute;
    top: -100px;
    line-height: 0.55em;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.content span {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 5px;
    background: #fff;
    color: #111;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
section .sci {
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    z-index: 100;
}
section .sci li{
    list-style: none;
    margin: 5px;
    padding: 0 6px;
    background: #fff;
    transition: 0.5s;
    transition-delay: calc(0.2s * var(--i   ));
}
section .sci.active li {
    transform: translateX(-200%);
    opacity: 0;
    visibility: hidden;
}
section .navigation{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    z-index: 500;
}
.navigation li {
    list-style: none;
    text-align: center;
    margin: 15px 0;
    transition: 0.2s;
    transform: translateX(-200%);
    transition-delay: calc(0.2s * var(--i));
    opacity: 0;
    visibility: hidden;
}

.navigation.active li {
    opacity: 1;
    visibility: visible;
    transform: translateX(200px);

}
.navigation li a {
    color: #111;
    font-size: 1.5em;
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    background: #fff;
    padding: 4px 10px;
    display: inline-block;
}
.navigation li a:hover{
    background: #111;
    color:#fff;
    text-transform: lowercase;
}
@media (max-width:991px){
    header{
        padding: 40px 20px;
    }
    .content{
        z-index: 10;
        color: white;
        font-size: 2.3em;
        text-align: center;
        transition: 0.4s;
        transition-delay: 0.5;
        position: relative;
    
    }
    .content h2 {
        position: absolute;
        top: -80px;
        line-height: 0.55em;
        text-shadow: 0 5px 5px rgba(0,0,0,0.2);
        letter-spacing: -3px;
        left: 10px;
    }
    section .navigation {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%,-50%);
        z-index: 500;
    }
}

